<nav class="navbar navbar-expand-lg site-nav sticky-top">
  <div class="container-xl">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="Elite Contractors LLC" style="height:64px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/#services">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="/gallery.html">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="/reviews.html">Reviews</a></li>
        <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link nav-quote ms-3" href="/#contact">Get A Free Estimate <i class="ti ti-arrow-right"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
